@media all and (orientation:portrait) {
    div.container {
        display: flex;
        flex-direction: column;
    }
}

@media all and (orientation:landscape) { 
    div.container {
        display: flex;
        flex-direction: row;
    }
}

div.container {
    height: 100%;
    max-height: 100%;
}